.about-us{
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    height: auto;
    padding: 60px 0 120px;

    //MAIN
    &__main{
        &--heading{
            width: 582px;
        }
        &--pic{
            margin-top: 50px;
            width: 100%;
        }
    }

    //ACHIEVEMENT
    &__achievement{
        &--title{
            width: 738px;
        }
        &--pic{
            margin-top: 56px;
            
            display: flex;
            justify-content: space-between;
            gap: 60px;
            
            .achievement{
                &__pic{
                    width: calc(79% - 60px);
                }
                &__box{
                    flex-shrink: 0;
                }
            }
        }
    }

    &__service{
        &--title{

        }
        &--content{
            margin: 40px auto 0;
            padding: 0 120px;
            width: 100%;

            display: flex;
            justify-content: space-between;
            gap: 18px;

            .item{
                width: 100%;
                padding: 20px 30px;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                background: var(--w);
                box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

                img{
                    width: 63px;
                    height: 63px;
                }
                b{
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 140%;
                    text-align: center;
                    
                    color: var(--50);
                }
                p{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 160%;
                    text-align: center;
                    
                    color: var(--10);
                }

                &:hover{
                    border: none;
                    background-color: var(--p);

                    b, p{
                        color: var(--w);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1152px) {
        &__main{

        }
        &__achievement{
            &--title{
                width: auto;
            }
            &--pic{
                position: relative;
                .achievement{
                    &__pic{
                        width: 100%;
                    }
                    &__box{
                        position: absolute;
                        bottom: 200px;
                        right: 6vw;
                    }
                }
            }
        }

        &__service{
            &--content{
                padding: 0 20px;
            }
        }
    }
}