.our-teams{
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    height: auto;
    padding: 60px 0 120px;

    //MAIN
    &__main{
        &--heading{
            width: 582px;
        }
        &--pic{
            margin-top: 50px;
            width: 100%;
        }
    }

    //DESIGNER
    &__designer{
        &--title{

        }
        &--content{
            margin: 70px auto 0;
            width: 100%;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 24px;

            .designer{
                width: 282px;
                height: 400px;

                position: relative;
                display: block;

                background-color: var(--p);
                
                img{
                    position: absolute;
                    bottom: 0;
                }
                div{
                    width: 258px;
                    height: 96px;
                    display: block;
                    position: absolute;
                    bottom: 12px;
                    left: 12px;

                    padding: 18px 16px;

                    background-color: var(--w);
                    
                    b{
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 140%;

                        color: var(--50);
                    }
                    p{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 160%;

                        color: var(--10);
                    }
                }
            }
        }
    }

    //SERVICE
    &__service{
        &--title{

        }
        &--content{
            margin: 40px auto 0;
            padding: 0 120px;
            width: 100%;

            display: flex;
            justify-content: space-between;
            gap: 18px;

            .item{
                width: 100%;
                padding: 20px 30px;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                background: var(--w);
                box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

                img{
                    width: 63px;
                    height: 63px;
                }
                b, p{
                    text-align: center;
                }

                &:hover{
                    border: none;
                    background-color: var(--p);

                    b, p{
                        color: var(--w);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1152px) {
        &__main{

        }
        
        &__designer{
            &--content{
                margin-top: 40px;
            }
        }

        &__service{
            &--content{
                padding: 0 20px;
            }
        }
    }
}