.services{
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    height: auto;
    padding: 60px 0 120px;

    //MAIN
    &__main{
        &--heading{
            width: 582px;
        }
        &--pic{
            margin-top: 50px;
            width: 100%;
        }
    }

    //ACHIEVEMENT
    &__achievement{
        display: flex;
        flex-direction: column;
        gap: 40px;
        &--item{
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 100px;

            img{
                flex-shrink: 1;
                width: 62%;
            }
            div{
                width: 334px;
                b{
                    color: var(--50);
                }
                p{
                    display: block;
                    margin-top: 20px;
                    
                    color: var(--10);
                }
            }        
        }
    }
    
    //PRODUCT
    &__product{
        position: relative;
    }
    @media screen and (max-width: 1152px) {
        &__achievement{
            &--item{
                justify-content: space-around;
                gap: 3%;
                img{
                    width: 50%;
                }
            }
        }
    }
}